In [1]:
#importing libraries
import pandas as pd

In [6]:
#reading csvs
df_sample_submission = pd.read_csv('Dataset/sample_submission.csv')
df_aug_test = pd.read_csv('Dataset/aug_test.csv')
df_aug_train = pd.read_csv('Dataset/aug_train.csv')

In [20]:
#show
df_sample_submission

(2129, 2)

In [16]:
df_aug_test.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours'],
      dtype='object')

In [22]:
df_aug_train.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target'],
      dtype='object')

In [23]:
df_aug_test['company_size'].value_counts()

company_size
50-99        338
100-500      318
10000+       217
10/49        172
<10          163
1000-4999    143
500-999       88
5000-9999     68
Name: count, dtype: int64

In [25]:
df_aug_train['company_size'].value_counts()

company_size
50-99        3083
100-500      2571
10000+       2019
10/49        1471
1000-4999    1328
<10          1308
500-999       877
5000-9999     563
Name: count, dtype: int64

In [26]:
df_aug_train['experience'].value_counts()

experience
>20    3286
5      1430
4      1403
3      1354
6      1216
2      1127
7      1028
10      985
9       980
8       802
15      686
11      664
14      586
1       549
<1      522
16      508
12      494
13      399
17      342
19      304
18      280
20      148
Name: count, dtype: int64